/**
 * Reset some basic elements
 */
/* line 4, ../_base.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
/* line 16, ../_base.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/* line 31, ../_base.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px;
}

/**
 * Images
 */
/* line 43, ../_base.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
/* line 53, ../_base.scss */
figure > img {
  display: block;
}

/* line 57, ../_base.scss */
figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
/* line 66, ../_base.scss */
ul, ol {
  margin-left: 30px;
}

/* line 71, ../_base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
/* line 82, ../_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
 * Links
 */
/* line 91, ../_base.scss */
a {
  color: #2a7ae2;
  text-decoration: none;
}
/* line 95, ../_base.scss */
a:visited {
  color: #1756a9;
}
/* line 99, ../_base.scss */
a:hover {
  color: #111;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
/* line 110, ../_base.scss */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
/* line 118, ../_base.scss */
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
/* line 128, ../_base.scss */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

/* line 135, ../_base.scss */
code {
  padding: 1px 5px;
}

/* line 139, ../_base.scss */
pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
/* line 143, ../_base.scss */
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
/* line 155, ../_base.scss */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  /* line 155, ../_base.scss */
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
/* line 179, ../_base.scss */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
/* line 193, ../_base.scss */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
/* line 199, ../_base.scss */
.icon > svg path {
  fill: #828282;
}

/**
 * Site header
 */
/* line 4, ../_layout.scss */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}

/* line 13, ../_layout.scss */
.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
/* line 20, ../_layout.scss */
.site-title, .site-title:visited {
  color: #424242;
}

/* line 26, ../_layout.scss */
.site-nav {
  float: right;
  line-height: 56px;
}
/* line 30, ../_layout.scss */
.site-nav .menu-icon {
  display: none;
}
/* line 34, ../_layout.scss */
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
/* line 39, ../_layout.scss */
.site-nav .page-link:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  /* line 26, ../_layout.scss */
  .site-nav {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  /* line 53, ../_layout.scss */
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  /* line 62, ../_layout.scss */
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  /* line 66, ../_layout.scss */
  .site-nav .menu-icon > svg path {
    fill: #424242;
  }
  /* line 72, ../_layout.scss */
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  /* line 77, ../_layout.scss */
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  /* line 82, ../_layout.scss */
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
  }
}

/**
 * Site footer
 */
/* line 94, ../_layout.scss */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

/* line 99, ../_layout.scss */
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 104, ../_layout.scss */
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/* line 110, ../_layout.scss */
.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

/* line 117, ../_layout.scss */
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

/* line 123, ../_layout.scss */
.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

/* line 128, ../_layout.scss */
.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

/* line 133, ../_layout.scss */
.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  /* line 139, ../_layout.scss */
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  /* line 145, ../_layout.scss */
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  /* line 152, ../_layout.scss */
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
/* line 164, ../_layout.scss */
.page-content {
  padding: 30px 0;
}

/* line 168, ../_layout.scss */
.page-heading {
  font-size: 20px;
}

/* line 172, ../_layout.scss */
.post-list {
  margin-left: 0;
  list-style: none;
}
/* line 176, ../_layout.scss */
.post-list > li {
  margin-bottom: 30px;
}

/* line 181, ../_layout.scss */
.post-meta {
  font-size: 14px;
  color: #828282;
}

/* line 186, ../_layout.scss */
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
/* line 196, ../_layout.scss */
.post-header {
  margin-bottom: 30px;
}

/* line 200, ../_layout.scss */
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  /* line 200, ../_layout.scss */
  .post-title {
    font-size: 36px;
  }
}

/* line 210, ../_layout.scss */
.post-content {
  margin-bottom: 30px;
}
/* line 213, ../_layout.scss */
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  /* line 213, ../_layout.scss */
  .post-content h2 {
    font-size: 28px;
  }
}
/* line 221, ../_layout.scss */
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  /* line 221, ../_layout.scss */
  .post-content h3 {
    font-size: 22px;
  }
}
/* line 229, ../_layout.scss */
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  /* line 229, ../_layout.scss */
  .post-content h4 {
    font-size: 18px;
  }
}

/* Solarized Dark

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/
/* line 20, ../_syntax-highlighting.scss */
.highlight {
  background-color: #002b36;
  color: #93a1a1;
}

/* line 25, ../_syntax-highlighting.scss */
.highlight .lineno {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #586e75;
}

/* Line Numbers */
/* line 31, ../_syntax-highlighting.scss */
.highlight .c {
  color: #586e75;
}

/* Comment */
/* line 36, ../_syntax-highlighting.scss */
.highlight .err {
  color: #93a1a1;
}

/* Error */
/* line 41, ../_syntax-highlighting.scss */
.highlight .g {
  color: #93a1a1;
}

/* Generic */
/* line 46, ../_syntax-highlighting.scss */
.highlight .k {
  color: #859900;
}

/* Keyword */
/* line 51, ../_syntax-highlighting.scss */
.highlight .l {
  color: #93a1a1;
}

/* Literal */
/* line 56, ../_syntax-highlighting.scss */
.highlight .n {
  color: #93a1a1;
}

/* Name */
/* line 61, ../_syntax-highlighting.scss */
.highlight .o {
  color: #859900;
}

/* Operator */
/* line 66, ../_syntax-highlighting.scss */
.highlight .x {
  color: #cb4b16;
}

/* Other */
/* line 71, ../_syntax-highlighting.scss */
.highlight .p {
  color: #93a1a1;
}

/* Punctuation */
/* line 76, ../_syntax-highlighting.scss */
.highlight .cm {
  color: #586e75;
}

/* Comment.Multiline */
/* line 81, ../_syntax-highlighting.scss */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 86, ../_syntax-highlighting.scss */
.highlight .c1 {
  color: #586e75;
}

/* Comment.Single */
/* line 91, ../_syntax-highlighting.scss */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
/* line 96, ../_syntax-highlighting.scss */
.highlight .gd {
  color: #2aa198;
}

/* Generic.Deleted */
/* line 101, ../_syntax-highlighting.scss */
.highlight .ge {
  color: #93a1a1;
  font-style: italic;
}

/* Generic.Emph */
/* line 107, ../_syntax-highlighting.scss */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
/* line 112, ../_syntax-highlighting.scss */
.highlight .gh {
  color: #cb4b16;
}

/* Generic.Heading */
/* line 117, ../_syntax-highlighting.scss */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 122, ../_syntax-highlighting.scss */
.highlight .go {
  color: #93a1a1;
}

/* Generic.Output */
/* line 127, ../_syntax-highlighting.scss */
.highlight .gp {
  color: #93a1a1;
}

/* Generic.Prompt */
/* line 132, ../_syntax-highlighting.scss */
.highlight .gs {
  color: #93a1a1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 138, ../_syntax-highlighting.scss */
.highlight .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
/* line 143, ../_syntax-highlighting.scss */
.highlight .gt {
  color: #93a1a1;
}

/* Generic.Traceback */
/* line 148, ../_syntax-highlighting.scss */
.highlight .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
/* line 153, ../_syntax-highlighting.scss */
.highlight .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
/* line 158, ../_syntax-highlighting.scss */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 163, ../_syntax-highlighting.scss */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 168, ../_syntax-highlighting.scss */
.highlight .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
/* line 173, ../_syntax-highlighting.scss */
.highlight .kt {
  color: #dc322f;
}

/* Keyword.Type */
/* line 178, ../_syntax-highlighting.scss */
.highlight .ld {
  color: #93a1a1;
}

/* Literal.Date */
/* line 183, ../_syntax-highlighting.scss */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
/* line 188, ../_syntax-highlighting.scss */
.highlight .s {
  color: #2aa198;
}

/* Literal.String */
/* line 193, ../_syntax-highlighting.scss */
.highlight .na {
  color: #93a1a1;
}

/* Name.Attribute */
/* line 198, ../_syntax-highlighting.scss */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
/* line 203, ../_syntax-highlighting.scss */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
/* line 208, ../_syntax-highlighting.scss */
.highlight .no {
  color: #cb4b16;
}

/* Name.Constant */
/* line 213, ../_syntax-highlighting.scss */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
/* line 218, ../_syntax-highlighting.scss */
.highlight .ni {
  color: #cb4b16;
}

/* Name.Entity */
/* line 223, ../_syntax-highlighting.scss */
.highlight .ne {
  color: #cb4b16;
}

/* Name.Exception */
/* line 228, ../_syntax-highlighting.scss */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
/* line 233, ../_syntax-highlighting.scss */
.highlight .nl {
  color: #93a1a1;
}

/* Name.Label */
/* line 238, ../_syntax-highlighting.scss */
.highlight .nn {
  color: #93a1a1;
}

/* Name.Namespace */
/* line 243, ../_syntax-highlighting.scss */
.highlight .nx {
  color: #93a1a1;
}

/* Name.Other */
/* line 248, ../_syntax-highlighting.scss */
.highlight .py {
  color: #93a1a1;
}

/* Name.Property */
/* line 253, ../_syntax-highlighting.scss */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
/* line 258, ../_syntax-highlighting.scss */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
/* line 263, ../_syntax-highlighting.scss */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
/* line 268, ../_syntax-highlighting.scss */
.highlight .w {
  color: #93a1a1;
}

/* Text.Whitespace */
/* line 273, ../_syntax-highlighting.scss */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
/* line 278, ../_syntax-highlighting.scss */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
/* line 283, ../_syntax-highlighting.scss */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
/* line 288, ../_syntax-highlighting.scss */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
/* line 293, ../_syntax-highlighting.scss */
.highlight .sb {
  color: #586e75;
}

/* Literal.String.Backtick */
/* line 298, ../_syntax-highlighting.scss */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
/* line 303, ../_syntax-highlighting.scss */
.highlight .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
/* line 308, ../_syntax-highlighting.scss */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
/* line 313, ../_syntax-highlighting.scss */
.highlight .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
/* line 318, ../_syntax-highlighting.scss */
.highlight .sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
/* line 323, ../_syntax-highlighting.scss */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
/* line 328, ../_syntax-highlighting.scss */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
/* line 333, ../_syntax-highlighting.scss */
.highlight .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
/* line 338, ../_syntax-highlighting.scss */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
/* line 343, ../_syntax-highlighting.scss */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
/* line 348, ../_syntax-highlighting.scss */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
/* line 353, ../_syntax-highlighting.scss */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
/* line 358, ../_syntax-highlighting.scss */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
/* line 363, ../_syntax-highlighting.scss */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
/* line 368, ../_syntax-highlighting.scss */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
